{% extends 'base.html' %}
{% load static %}

{% block body %}
        <div class="blog section-padding border-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog-single-post single">
                            <ul class="post-nfo">
                                <li><i class="la la-calendar"></i>{{ post.create }}</li>
                                <li><i class="la la-comment-o"></i><a href="#" title="">4 نظر</a></li>
                                <!-- <li><i class="la la-bookmark-o"></i><a href="#" title=""> آپارتمان </a></li> -->
                            </ul>
                            <h3>{{ post.title }}</h3>
                            <div class="blog-img">
                                <img src="{{ post.image.url }}" alt="" class="img-fluid">
                            </div>
                            <p>
                                {{ post.description|safe }}
                            </p>

                            <div class="post-share">
                                <ul class="social-links">
                                    <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" title=""><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#" title=""><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <a href="#comment-sec" title="">نظر دهید<i class="la la-arrow-right"></i></a>
                            </div>
                            <!--post-share end-->
                            <div class="cm-info-sec">
                                <div class="cm-img">
                                    <img src="images/blog/cm-img.png" alt="">
                                </div>
                                <!--author-img end-->
                                <div class="cm-info">
                                    <h3>کسری غفاری</h3>
                                    <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.  </p>
                                    <ul class="social-links">
                                        <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" title=""><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#" title=""><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--cm-info-sec end-->
                        </div>
                        <!--blog-single-post end-->
                        <div class="comment-section">
                            <h3 class="p-title">نظرات</h3>
                            <ul>
                                <li>
                                    <div class="cm-info-sec">
                                        <div class="cm-img">
                                            <img src="images/blog/cm-img.png" alt="">
                                        </div>
                                        <!--author-img end-->
                                        <div class="cm-info">
                                            <h3>پارسا اصیلان</h3>
                                            <h4>25 دی، 1398</h4>
                                        </div>
                                    </div>
                                    <!--cm-info-sec end-->
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                    <a href="#" title="" class="cm-reply">پاسخ</a>
                                </li>
                                <li>
                                    <div class="cm-info-sec">
                                        <div class="cm-img">
                                            <img src="images/blog/cm-img.png" alt="">
                                        </div>
                                        <!--author-img end-->
                                        <div class="cm-info">
                                            <h3>پارسا اصیلان</h3>
                                            <h4>25 دی، 1398</h4>
                                        </div>
                                    </div>
                                    <!--cm-info-sec end-->
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                    <a href="#" title="" class="cm-reply">پاسخ</a>
                                </li>
                                <li>
                                    <div class="cm-info-sec">
                                        <div class="cm-img">
                                            <img src="images/blog/cm-img.png" alt="">
                                        </div>
                                        <!--author-img end-->
                                        <div class="cm-info">
                                            <h3>پارسا اصیلان</h3>
                                            <h4>25 دی، 1398</h4>
                                        </div>
                                    </div>
                                    <!--cm-info-sec end-->
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                    <a href="#" title="" class="cm-reply">پاسخ</a>
                                </li>
                            </ul>
                        </div>
                        <!--comment-section end-->
                        <div class="post-comment-sec" id="comment-sec">
                            <h3 class="p-title">پاسخ دهید</h3>
                            <form class="js-ajax-form" novalidate="novalidate">
                                <div class="form-fieldss">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 pl-0">
                                            <div class="form-group">
                                                <input class="form-control" type="text" name="name"
                                                   placeholder = "نام شما" id="name">
                                            </div>
                                            <!-- form-field end-->
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="form-group">
                                                <input class="form-control" type="email" name="email"
                                                    placeholder = "ایمیل شما" id="email">
                                            </div>
                                            <!-- form-field end-->
                                        </div>
                                        <div class="col-lg-4 col-md-4 pr-0">
                                            <div class="form-group">
                                                <input class="form-control" type="text" name="phone"
                                                    placeholder = "تلفن شما">
                                            </div>
                                            <!-- form-field end-->
                                        </div>
                                        <div class="col-lg-12 col-md-12 pl-0 pr-0">
                                            <div class="form-group">
                                                <textarea class="form-control" name="message"
                                                    placeholder = "پیام شما"></textarea>
                                            </div>
                                            <!-- form-field end-->
                                        </div>
                                        <div class="col-lg-12 col-md-12 pl-0">
                                            <button type="submit" class="btn btn-primary submit">ارسال پیام</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--post-comment-sec end-->
                    </div>
                    <div class="col-xl-3">
                        <div class="blog-sidebar">
                            <div class="widget-search">
                                <form action="#">
                                    <input type="text" class="form-control"placeholder = "اکنون مشترک شوید">
                                    <span><i class="la la-search"></i></span>
                                </form>
                            </div>
                            <div class="widget-recent-post">
                                <h3 class="post-title">پست اخیر </h3>
                                <ul class="list-unstyled">
                                    {% for post in bOrder %}
                                        <li class="media">
                                            <img src="{{ post.image.url }}" class="mr-3" alt="...">
                                            <div class="media-body">
                                                <h5 class="mt-0 mb-1"><a class="text-dark" href="{{ post.get_absolute_url_blog_single }}">{{ post.title }}</a></h5>
                                                <div class="meta-info">
                                                    <a href="#"><i class="la la-user"></i> مدیر</a>
                                                    <a href="#"><i class="la la-calendar"></i>{{ post.create }}</a>
                                                </div>
                                            </div>
                                    {% endfor %}
                                    </li>
                                </ul>
                            </div>
                            <div class="widget-category">
                                <h3 class="widget-title"> دسته بندی ها </h3>
                                <ul class="list-group">
                                    {% for c in cc %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <a href="">{{ c.category_name }}</a>
                                        <span class="badge badge-primary badge-pill">{{ c.blogs_count }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="widget-tag">
                                <h3 class="widget-title">تگ ها</h3>
                                <div class="tag-group">
                                    <a href="#">تریدیکس</a>
                                    <a href="#">تریدیکس</a>
                                    <a href="#">تریدیکس</a>
                                    <a href="#">تریدیکس</a>
                                    <a href="#">تریدیکس</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}