{% extends 'base.html' %}
{% load static %}
{% load comment_tags %}
{% load ratings %}

{% block body %}
        <div class="blog section-padding border-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog-single-post single">
                            <ul class="post-nfo">
                                <li><i class="la la-calendar"></i>{{ post.create }}</li>
                                <!-- <li><i class="la la-bookmark-o"></i><a href="#" title=""> آپارتمان </a></li> -->
                            </ul>
                            <h3>{{ post.title }}</h3>
                            <div class="blog-img">
                                <img src="{{ post.image.url }}" alt="" class="img-fluid">
                            </div>
                            <p>
                                {{ post.description|safe }}
                            </p>
                        </div>

                        <!-- {% ratings post %} -->

                        <!--blog-single-post end-->
                        <div class="comment-section">

                            <ul>
                                <!-- <li>
                                    <div class="cm-info-sec">
                                        <div class="cm-img">
                                            <img src="images/blog/cm-img.png" alt="">
                                        </div>
                                        <div class="cm-info">
                                            <h3>پارسا اصیلان</h3>
                                            <h4>25 دی، 1398</h4>
                                        </div>
                                    </div>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                    <a href="#" title="" class="cm-reply">پاسخ</a>
                                </li> -->
                                {% render_comments post request %}
                                <!-- {% include_bootstrap %} -->
                            </ul>
                        </div>
                        <h3 class="post-title mb-4">پست های مرتبط </h3>
                        <div class="row">
                            {% for p in related_post %}
                                <div class="col-xl-6 col-lg-6 col-md-3">
                                    <div class="blog-grid">
                                        <div class="card">
                                            <img class="img-fluid" src="{{ p.image.url }}" alt="">
                                            <div class="card-body">
                                                <a href="{{ p.get_absolute_url_blog_single }}">
                                                    <h4 class="card-title">{{ p.title }}</h4>
                                                </a>
                                                <p class="card-text">{{ p.description|truncatewords:15|safe}}</p>
                                            </div>
                                            <div class="card-footer">
                                                <div class="meta-info">
                                                    <a href="#" class="author"><img src="{% static 'images/avatar/5.jpg' %}" alt="">
                                                        {% if p.author.is_superuser %}
                                                        مدیر
                                                        {% else %}
                                                            {{ p.author.get_full_name }}
                                                        {% endif %}
                                                        </a>
                                                    <a href="#" class="post-date"><i class="la la-calendar"></i>{{ p.create }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="blog-sidebar">
                            <div class="widget-search">
                                {% include 'Views/search.html' %}
                            </div>
                            <div class="widget-recent-post">
                                <h3 class="post-title">پست های اخیر </h3>
                                <ul class="list-unstyled">
                                    {% for post in bOrder %}
                                        <li class="media">
                                            <img src="{{ post.image.url }}" class="mr-3" alt="...">
                                            <div class="media-body">
                                                <h5 class="mt-0 mb-1"><a class="text-dark" href="{{ post.get_absolute_url_blog_single }}">{{ post.title }}</a></h5>
                                                <div class="meta-info">
                                                    <a href="#"><i class="la la-user"></i>
                                                        {% if post.author.is_superuser %}
                                                        مدیر
                                                        {% else %}
                                                            {{ post.author }}
                                                        {% endif %}
                                                    </a>
                                                    <a href="#"><i class="la la-calendar"></i>{{ post.create }}</a>
                                                </div>
                                            </div>
                                    {% endfor %}
                                    </li>
                                </ul>
                            </div>
                            <div class="widget-category">
                                <h3 class="widget-title"> دسته بندی ها </h3>
                                <ul class="list-group">
                                    {% for c in cc %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <a href="/blog/{{ c.category_slug}}/">{{ c.category_name }}</a>
                                        <span class="badge badge-primary badge-pill">{{ c.blogs_count }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- <div class="widget-tag">
                                <h3 class="widget-title">تگ ها</h3>
                                <div class="tag-group">
                                    <a href="#">تریدیکس</a>
                                    <a href="#">تریدیکس</a>
                                    <a href="#">تریدیکس</a>
                                    <a href="#">تریدیکس</a>
                                    <a href="#">تریدیکس</a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}