{% extends 'base_account.html' %}
{% load static %}



{% block body %}
    <div class="page-title dashboard">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-title-content">
                        <p>خوش آمدید،
                            <span>{{ request.user.get_full_name }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="card profile_card">
                        <div class="card-body">
                            <div class="media">
                                <img class="mr-3 rounded-circle mr-0 mr-sm-3" src="{% static 'images/profile/2.png' %}" width="60"
                                    height="60" alt="">
                                <div class="media-body">
                                    <h4 class="mb-2">{{ request.user.get_full_name }}</h4>
                                    <p class="mb-1"> <span><i class="fa fa-envelope mr-2 text-primary"></i></span>
                                        {{ request.user.email }}
                                    </p>
                                </div>
                            </div>

                            <ul class="card-profile__info">
                                <li class="mb-1">
                                    <h5 class="mr-4">تعداد ورود به سیستم </h5>
                                    <span> 103 بار (امروز 5 بار)  </span>
                                </li>
                                <li>
                                    <h5 class="text-danger mr-4">آخرین ورود</h5>
                                    <span class="text-danger">3 مهر، 1399، 10:00 ب.ظ</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="card acc_balance">
                        <div class="card-header">
                            <h4 class="card-title">کیف </h4>
                        </div>
                        <div class="card-body">
                            <span>بیت کوین موجود</span>
                            <h3>0.0230145 BTC</h3>

                            <div class="d-flex justify-content-between my-4">
                                <div>
                                    <p class="mb-1">خرید این ماه</p>
                                    <h4>3.0215485 BTC</h4>
                                </div>
                                <div>
                                    <p class="mb-1">فروش این ماه</p>
                                    <h4>3.0215485 BTC</h4>
                                </div>
                            </div>

                            <div class="btn-group mb-3">
                                <button class="btn btn-primary">فروش</button>
                                <button class="btn btn-success">خرید</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title"> برداشت </h4>
                        </div>
                        <div class="card-body">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text"><i class="fa fa-money"></i></label>
                                        </div>
                                        <input type="text" class="form-control" placeholder="5000 USD">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text"><i class="fa fa-bank"></i></label>
                                        </div>
                                        <select class="form-control">
                                            <option> بانک ملی ********2171</option>
                                            <option> کارت تجارت ********5458</option>
                                        </select>
                                    </div>
                                </div>

                                <button class="btn btn-primary btn-block">اکنون برداشت کن</button>
                            </form>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header border-0">
                            <h4 class="card-title"> کلیه پست ها </h4>
                        </div>
                        {% if posts %}
                            <div class="card-body pt-0">
                                <div class="transaction-table">
                                    <div class="table-responsive">
                                        <table class="table mb-0 table-responsive-sm">
                                            <tbody>
                                                {% for p in posts %}
                                                    <tr>
                                                        <!-- <td><span class="sold-thumb"><i class="la la-arrow-down"></i></span></td> -->
                                                        <td>
                                                            {{ p.title }} 
                                                        </td>
                                                        <td>
                                                            <img src="{{ p.image.url }}" width="100" alt=""> 
                                                        </td>
                                                        <td>
                                                            #{{ p.categories.all|join:'# ' }}
                                                        </td>
                                                        <td class="text-danger">{{ p.author.get_full_name }}</td>
                                                        <td>{{ p.create }}</td>
                                                        <td>
                                                            {% if p.status == 'T' %}
                                                            <div class="verify">
                                                                <div class="verified">
                                                                    <span><i class="la la-check text-success"></i></span>
                                                                    <a href="#" class="text-success">منتشر شده</a>
                                                                </div>
                                                            </div>
                                                            {% else %}
                                                            <div class="verify">
                                                                <div class="not-verify">
                                                                    <span><i class="la la-close text-danger"></i></span>
                                                                    <a href="#" class="text-danger">منتشر نشده</a>
                                                                </div>
                                                            </div>
                                                            {% endif %}
                                                        </td>
                                                        {% if request.user.is_superuser %}
                                                            <td>
                                                                <div class="edit-option">
                                                                    <a href="{{ p.get_absolute_url_blog_single }}"><i class="fas fa-eye mx-2"></i></a>
                                                                    <a href="{% url 'Teridix_account:update' p.pk %}"><i class="fas fa-edit mx-2"></i></a>
                                                                    <a href="#"><i class="fa fa-trash text-danger mx-2"></i></a>
                                                                </div>
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="row d-flex justify-content-center">
                                <span class="col-6 alert bg-danger text-light text-center">هیچ پستی وجود ندارد</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

