{% extends 'View/base_authenticated.html' %}
{% load static %}

{% block body %}

    <div id="main-wrapper">

        <div class="authincation section-padding">
            <div class="container ">
                <div class="row justify-content-center h-100 align-items-center">
                    <div class="col-xl-5 col-md-6">
                        <div class="mini-logo text-center my-5">
                            <img src="images/logo.png" alt="">
                        </div>
                        <div class="auth-form card">
                            <div class="card-header justify-content-center">
                                <h4 class="card-title">بازیابی رمز</h4>
                            </div>
                            <div class="card-header text-center">
                                <p class="text-center alert bg-success w-100 text-light">گذرواژهٔ جدید ایجاد شد</p>
                            </div>
                            <div class="card-body">
                                <p class="text-center">
                                    گذرواژهٔ جدیدتان تنظیم شد. اکنون می‌توانید وارد وب‌گاه شوید.
                                    <a href="{% url 'Teridix_account:login' %}">ورود</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
